body 
{
  background-color: black;
  color: white;
}

h1 
{
  font-family: verdana;
  color: white;
  text-align: center;
  
}

h2
{
  font-family: verdana;
  color: white;
  text-align: center;
  
}

h3
{
  font-family: verdana;
  color: white;
  text-align: center;
  
}

h4
{
  font-family: verdana;
  color: white;
  text-align: center;
  
}

h5
{
  font-family: verdana;
  color: white;
  text-align: center;
  
}

h6
{
  font-family: verdana;
  color: white;
  
  text-align: center;
}

p 
{
  color: white;
  font-family: verdana;
  font-size: 15px;
  text-align: center;
 
}

a
{
  color: red;
  font-family: verdana;
  font-size: 15px;
  text-align: center;
  
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body,html{
height: 100%;
margin: 0;

}

.bg{
  background-image: url(wallpaper.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}


.tg  {
  border-collapse:collapse;
  border-spacing:0;
  margin:0px auto;
  border-color: #ffffff;
}

.tg td{
  border-style:solid;
  border-color: #ffffff;
  border-width:0px;
  font-family:verdana;
  font-size:14px;
  overflow:hidden;
  padding:10px 20px;
  word-break:normal;
}

.tg th{
  border-style:solid;
  border-width:0px;
  font-family:verdana;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 20px;
  word-break:normal;
  border-color: #ffffff;
}

.tg .tg-0usf{
  background-color:#000000;
  border-color:#ffffff;
  color:#ffffff;
  text-align:center;
  vertical-align:top;
}


.myButton {
	box-shadow: 0px 1px 9px 0px #ffffff;
	background:linear-gradient(to bottom, #e62727 5%, #0571f5 100%);
	background-color:#e62727;
	border-radius:15px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 12px #010308;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0571f5 5%, #e62727 100%);
	background-color:#0571f5;
}
.myButton:active {
	position:relative;
	top:1px;
}
